body{
    margin: 0px;
    font-family: 'Roboto';

    
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 16px 10rem 16px 10rem;
    color: whitesmoke;
    

}
 .links{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-size: 18px;
    padding-top: 1rem;
    
} 
.logo{
    font-size: 24px;
}
.main{
    display: flex;
    background-color: #1F2937;
    padding-bottom: 6rem;
}
.main-text{
    padding: 8px 10rem 8px 10rem;
    color: #f9faf8;
    
    
}
h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0px;
}
.main-img{
    padding: 8px 10rem 8px 0rem;
    
}
button{
    background-color: #3882f6;
    color: whitesmoke;
    font-size: 18px;
    border-radius: 5px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
.main-subtext{
    font-size: 18px;
    padding-bottom: 35px;
    padding-top: 16px;
}
.random-info{
    padding: 16px 10rem 16px 10rem;  
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1F2937;

}
/* div.imgs-texts{
    display: flex;
    padding: 16px 10rem 16px 10rem; 
    justify-content: center; 
    
}
div.img1{
    border-radius: 30px;
} */
.imgs-texts{
    display: flex;
    padding: 16px 10rem 36px 15rem; 
    
}
.imgs img{
    border-radius: 20px;
    border: #3882f6 solid 2px;
}

.quote-author{
    padding: 10rem 10rem 10rem 10rem;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1F2937;
    line-height: 150%;
    font-weight: 300;
    font-style: italic; 

}

.quote div{
    font-weight: bolder;
    float: right;
    padding: 36px;
    font-style: normal;
    

    
} 


    
